@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-background-color: #111729;
  --second-background-color: #1d2335;
  --main-outline-color: white;
  --header-hover-color: #323d5c;
  --main-text-color: white;
  --main-font: roboto, sans-serif;
  
  --drop-shadow-color: rgba(255, 255, 255, 0.7);
}
