body {
  --project-width: 500px;
  --project-border: 0px solid var(--main-outline-color);
  --project-text-left-margin: 10px;
  --project-border-radius: 25px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(550px, 1fr) );
}

.project-list a {
  display: block;
  width: var(--project-width);
  height: auto;
  aspect-ratio: 10/9;
  border: var(--project-border);
  margin: 50px auto;
  border-radius: var(--project-border-radius);
  transition: box-shadow 0.5s, transform 0.2s;

  background-color: var(--second-background-color);
  color: var(--main-text-color);
}

.project-list a:link, .project-list a:visited {
  text-decoration: none;
}

.project-list a:hover {
  box-shadow: 4px 8px 10px var(--drop-shadow-color);
  transform: scale(1.03);
}

.project-list a:active {
  transform: scale(1.1);
}

.project-list img {
  width: var(--project-width);
  aspect-ratio: 5/3;
  border-radius: var(--project-border-radius) var(--project-border-radius) 0px 0px;
  object-fit: cover;
  border-bottom: var(--project-border);
}

.project-list h3 {
  margin-left: var(--project-text-left-margin);
}

.project-list p {
  margin-left: var(--project-text-left-margin);
  padding-bottom: 20px;
}

/* For screens less than 550 px wide. */
@media screen and (max-width: 550px) {
  .project-list {
    display: block;
  }

  .project-list a, .project-list img {
    font-size: 2.914vw;
    width: 90.909090vw;
  }

  .project-list a {
    aspect-ratio: auto;
    height: auto;
  }
}
