body {
  --header-hover-color: #323d5c;

  font-family: var(--main-font); 
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  margin-top: 0px;
}

.header {
  position: sticky;
  top: 0px;
  text-align: center;
  background-color: var(--main-background-color);
}


#TitleHeading {
  font-weight: bold;
  padding-top: 20px;
  margin-top: 0px;
  font-size: 125%;
}

.header ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
  margin: 0px 2px;
}

.header hr {
  margin: 0px;
}

.header a {
  color: var(--main-text-color);
  display: block;
  text-align: center;
  padding: 8px 10px;
  margin: 3px 0px;
  border-radius: 5px;
  text-decoration: none;
}

.header a:link, .header a:visited { }

.header a:hover {
  background-color: var(--header-hover-color); 
  text-decoration: underline;
}

.header .active {
  font-weight: bold;
  background-color: var(--header-hover-color);
}
