body {
  font-family: verdana;
}

.header {
  position: sticky;
  top: 0px;
  text-align: center;
  background-color: white;
}

#TitleHeading {
  padding-top: 20px;
  margin-top: 0px;
  font-size: 125%;
}

.header ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
}


.header a {
  color: black;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.header a:link, .header a:visited {
}

.header a:hover {
  font-style: italic;
  background-color: gray; 
  text-decoration: underline;
}

.header a:active, .header .active {
  font-weight: bold;
  font-color: black;
}
