:root {
  --main-background-color: #111729;
  --second-background-color: #1d2335;
  --main-outline-color: white;
  --main-text-color: white;
  --main-font: roboto;
  
  --drop-shadow-color: rgba(255, 255, 255, 0.7);
}
